/* Start upper bar */
.upper-bar {
  padding: 10px 0px;
}

.upper-bar .container {
  border-bottom: 1px solid #999;
  font-weight: bold;
}

.upper-bar span {
  font-size: 16px;
  color: #2f3192;
}

.upper-bar i {
  color: #3498db;
}

/* End upper bar */
/* start nav */
nav {
  font-size: 18px;
}

nav .container .navbar-collapse .navbar-nav {
  /* .active > .nav-link :hover {
          color: #fff !important;
        }*/
}

nav .container .navbar-collapse .navbar-nav .nav-link {
  color: #2f3192;
  font-size: 18px;
}

nav .container .navbar-collapse .naibar-icon button {
  margin: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100px;
  padding: 0 10px;
}

nav .container .navbar-collapse .naibar-icon .language {
  background-color: #3498db;
  color: #fff;
  width: 40px;
}

/* end nav */
/* start form-sine-in */
.parint-form-sine-in {
  position: relative;
  width: 300px;
}

.parint-form-sine-in .form-sine-in {
  position: absolute;
  top: 10px;
  right: -700px;
  display: none;
  width: 300px;
  z-index: 99;
}

.parint-form-sine-in .form-sine-in label {
  color: #fff;
}

/* end form-sine-in */
/* start slider */
.slider .carousel-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .carousel-inner .slider-text {
  position: absolute;
  left: 12%;
  color: #fff;
  z-index: 4;
  max-width: 500px;
}

.slider .carousel-inner .slider-text p {
  font-size: 18px;
}

.slider .carousel-inner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(-115deg, #3498dbb4, #ffffff00);
}

.slider .carousel-item {
  background-size: cover;
}

.slider .carousel-one {
  background-image: url(../images/The-court.jpg);
}

.slider .carousel-tow {
  background-image: url(../images/The-court-1.jpg);
}

.slider .carousel-three {
  background-image: url(../images/The-court-2.jpg);
}

.slider .carousel-control-prev,
.slider .carousel-control-next {
  z-index: 3;
}

.slider .carousel-control-prev .carousel-control-prev-icon,
.slider .carousel-control-prev .carousel-control-next-icon,
.slider .carousel-control-next .carousel-control-prev-icon,
.slider .carousel-control-next .carousel-control-next-icon {
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  background-color: #2f3192;
}

.slider .carousel-indicators li {
  height: 5px;
  cursor: pointer;
}

/* courses */
.courses {
  padding: 50px 0px;
}

.courses .h1 {
  margin-bottom: 20px;
  padding: 50px 0px;
}

.courses .courses-row img {
  width: 100%;
}

.courses .courses-row .row {
  margin: 0;
}

.courses .courses-row .row .col-sm {
  padding: 0;
  overflow: hidden;
}

.courses .courses-row .row .col-sm .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

.courses .courses-row .row .col-sm .item .overlay,
.courses .courses-row .row .col-sm .item .overlay-part {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  color: #fff;
}

.courses .courses-row .row .col-sm .item .overlay .text,
.courses .courses-row .row .col-sm .item .overlay-part .text {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 4;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.courses .courses-row .row .col-sm .item .overlay {
  background-color: #2f3192c2;
}

.courses .courses-row .row .col-sm .item .overlay-part {
  background-color: #3498dbb2;
}

/* start blog */
.blog {
  margin: 70px auto;
}

.blog .h3 {
  color: #2f3192;
}

/* end blog */
/* start Our-mission */
.Our-mission .mission-box {
  position: relative;
}

.Our-mission .mission-box .mission-icon {
  padding: 10px;
  position: absolute;
  top: -50px;
  left: 100px;
  border: 3px dotted #3498db;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 2;
  background-color: #fff;
}

.Our-mission .mission-box .mission-icon i {
  color: #3498db;
}

.Our-mission .mission-box .box {
  background-color: #3498db;
  color: #fff;
  padding: 50px 20px;
  height: 250px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.Our-mission .mission-box .box:hover {
  background-color: #fff;
  color: #3498db;
  border: 1px solid #3498db;
}

/* end Our-mission */
/* start testimonial */
.testimonial {
  margin: 70px 0px;
  color: #fff;
  background-color: #3498db;
}

.testimonial .h3 {
  padding: 20px 0px 0px;
}

/* end testimonial */
/* start Our clients */
.Our-clients {
  margin: 70px 0px;
}

.Our-clients .h2 {
  color: #2f3192;
  padding-bottom: 50px;
}

/* end Our clients */
footer {
  background-color: #3498db;
  margin-top: 50px;
  padding: 20px 0;
  color: #fff;
}

footer ul li {
  padding: 10px 0px;
  font-size: 18px;
}

footer .form-style {
  margin: 10px 0;
}

footer .footer-down {
  border-top: 1px solid #fff;
  padding: 40px 0px 0px 0px;
}

/* page-call */
.slider-page-sign {
  background-image: url(../../images/The-court-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-call {
  margin: 80px 0px;
}

/* page-call */
/* gallery page */
.slider-page-gallery {
  background-image: url(../../images/slider/slider-page-gallery.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 70px 0px;
}

.minister .photo-box {
  margin-bottom: 30px;
  margin-top: 30px;
}

/* page call us*/
.slider-page-calll-us {
  background-image: url(../../images/slider/slider-page-call-us.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 70px 0px;
}

.box-coll-us .h2 {
  color: #2f3192;
  padding-bottom: 50px;
}

.box-coll-us .icon-info {
  height: 50px;
  width: 20%;
  line-height: 20px;
  padding: 10px;
  margin: 30px auto;
  background-color: #3498db;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.box-coll-us .icon-info i {
  color: #fff;
}

.box-coll-us ul li {
  padding: 10px 0px;
}

/* page courses */
.slider-page-courses {
  background-image: url(../../images/slider/slider-page-courses.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 70px 0px;
}

.courses-box .h1 {
  color: #2f3192;
}

.courses-box .box {
  margin: 70px 0px;
  color: #2f3192;
}

/* page benefits */
.slider-page-benefits {
  background-image: url(../../images/slider/slider-page-benefits.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 70px 0px;
}

.benefits {
  color: #2f3192;
}
/*# sourceMappingURL=main.css.map */